<turbo-frame id="pagination" target="_top" data-turbo="false">
  <table class="table" width="100%">
    <thead>
      <tr>
        <th width="20%"><%= t ".changeset" %></th>
        <th width="40%"><%= t ".comment_on" %></th>
        <th width="40%"><%= t ".comment_by" %></th>
      </tr>
    </thead>
    <% discussions_with_selected_comments(@comments, @selected_comment_ids, :changeset_id).each do |changeset_id, comments| -%>
      <% comments.reverse.each_with_index do |item, i| %>
        <%= tag.tr :class => [("border-top-0 border-start-0 border-end-0 border-secondary border-2" if i == comments.count - 1),
                              item[:class]] do %>
          <td>
            <% if i == 0 %>
              <%= link_to changeset_id, changeset_path(changeset_id) %>
            <% end %>
          </td>
          <% case item %>
          <% in comment: %>
            <% if comment.author == @user %>
              <td></td>
            <% end %>
            <%= tag.td :class => ("text-muted" unless comment.visible?) do %>
              <div class="text-body-secondary">
                <small>
                  <%= comment_by_options = { :time_ago => friendly_date_ago(comment.created_at),
                                             :user => link_to(comment.author.display_name, comment.author) }
                      comment.visible ? t("changesets.show.comment_by_html", **comment_by_options) : t("changesets.show.hidden_comment_by_html", **comment_by_options) %>
                </small>
              </div>
              <div class="richtext text-break">
                <%= comment.body.to_html %>
              </div>
            <% end %>
            <% unless comment.author == @user %>
              <td></td>
            <% end %>
          <% else %>
            <td colspan="2" class="text-center opacity-25">. . .</td>
          <% end %>
        <% end %>
      <% end %>
    <% end -%>
  </table>

  <%= render "shared/pagination",
             :newer_id => @newer_comments_id,
             :older_id => @older_comments_id %>
</turbo-frame>
