<header class="navbar navbar-expand-md bg-white">
  <div class="container-fluid">
    <a href="<%= root_path %>" class="navbar-brand fw-semibold geolink">
      <%= image_tag "osm_logo.png", :srcset => image_path("osm_logo.svg"), :alt => t("layouts.logo.alt_text"), :width => 30, :height => 30 %>
      <%= t "layouts.project_name.h1" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <!-- search forms:
      <%= content_for :header %>
      -->

      <div class="btn-group d-flex me-auto">
        <div id="edit_tab" class="btn-group flex-grow-1 <%= current_page_class(edit_path) %>">
          <%= link_to t("layouts.edit"),
                      edit_path,
                      :class => "btn btn-outline-primary geolink editlink",
                      :id => "editanchor",
                      :data => { :editor => preferred_editor } %>
          <button class='btn btn-outline-primary flex-grow-0 dropdown-toggle dropdown-toggle-split' type='button' data-bs-toggle='dropdown'></button>
          <ul class='dropdown-menu'>
            <% Editors::RECOMMENDED_EDITORS.each do |editor| %>
              <li>
                <%= link_to t("layouts.edit_with", :editor => t("editor.#{editor}.description")),
                            edit_path(:editor => editor),
                            :data => { :editor => editor },
                            :class => "geolink editlink dropdown-item" %>
              </li>
            <% end %>
          </ul>
        </div>
        <%= link_to t("layouts.history"), history_path, :class => "btn btn-outline-primary geolink flex-grow-1 current_page_class(history_path)", :id => "history_tab" %>
        <%= link_to t("layouts.export"), export_path, :class => "btn btn-outline-primary geolink current_page_class(export_path)", :id => "export_tab" %>
      </div>

      <ul id="navbarWideNav" class="navbar-nav text-nowrap px-2">
        <% if Settings.status != "database_offline" && can?(:index, Issue) %>
          <li class="nav-item <%= current_page_class(issues_path) %>">
            <%= link_to issues_path(:status => "open"), :class => "nav-link" do %>
              <%= t("layouts.issues") %>
              <%= open_issues_count %>
            <% end -%>
          </li>
        <% end %>
        <li class="nav-item <%= current_page_class(traces_path) %>">
          <%= link_to t("layouts.gps_traces"), traces_path, :class => "nav-link" %>
        </li>
        <li class="nav-item <%= current_page_class(diary_entries_path) %>">
          <%= link_to t("layouts.user_diaries"), diary_entries_path, :class => "nav-link" %>
        </li>
        <li class="nav-item <%= current_page_class(communities_path) %>">
          <%= link_to t("layouts.communities"), communities_path, :class => "nav-link" %>
        </li>
        <li class="nav-item <%= current_page_class(copyright_path) %>">
          <%= link_to t("layouts.copyright"), copyright_path, :class => "nav-link" %>
        </li>
        <li class="nav-item <%= current_page_class(help_path) %>">
          <%= link_to t("layouts.help"), help_path, :class => "nav-link" %>
        </li>
        <li class="nav-item <%= current_page_class(about_path) %>">
          <%= link_to t("layouts.about"), about_path, :class => "nav-link" %>
        </li>
      </ul>

      <!--
      <div id="navbarCompactNav" class="btn-group" hidden>
        <button class="dropdown-toggle btn" type="button" data-bs-toggle="dropdown"><%= t "layouts.more" %></button>
        <ul class="dropdown-menu">
          <% if Settings.status != "database_offline" && can?(:index, Issue) %>
            <li class="<%= current_page_class(issues_path) %>">
              <%= link_to issues_path(:status => "open"), :class => "dropdown-item" do %>
                <%= t("layouts.issues") %>
                <%= open_issues_count %>
              <% end -%>
            </li>
          <% end %>
          <li class="<%= current_page_class(traces_path) %>"><%= link_to t("layouts.gps_traces"), traces_path, :class => "dropdown-item" %></li>
          <li class="<%= current_page_class(diary_entries_path) %>"><%= link_to t("layouts.user_diaries"), diary_entries_path, :class => "dropdown-item" %></li>
          <li class="<%= current_page_class(communities_path) %>"><%= link_to t("layouts.communities"), communities_path, :class => "dropdown-item" %></li>
          <li class="<%= current_page_class(copyright_path) %>"><%= link_to t("layouts.copyright"), copyright_path, :class => "dropdown-item" %></li>
          <li class="<%= current_page_class(help_path) %>"><%= link_to t("layouts.help"), help_path, :class => "dropdown-item" %></li>
          <li class="<%= current_page_class(about_path) %>"><%= link_to t("layouts.about"), about_path, :class => "dropdown-item" %></li>
        </ul>
      </div>
      -->

      <div class="btn-group d-flex text-nowrap">
        <% if current_user && current_user.id %>
          <button class='dropdown-toggle btn btn-outline-secondary py-1' type='button' data-bs-toggle='dropdown'>
            <%= user_thumbnail_tiny(current_user, :width => 25, :height => 25, :class => "user_thumbnail_tiny rounded-1 align-bottom") %>
            <%= render :partial => "layouts/inbox" %>
            <%= current_user.display_name %>
          </button>
          <div class='dropdown-menu dropdown-menu-end'>
            <%= link_to t("users.show.my_dashboard"), dashboard_path, :class => "dropdown-item" %>
            <%= link_to inbox_messages_path, :class => "dropdown-item" do %>
              <%= t("users.show.my messages") %>
              <span class='badge count-number'><%= number_with_delimiter(current_user.new_messages.size) %></span>
            <% end %>
            <%= link_to t("users.show.my profile"), user_path(current_user), :class => "dropdown-item" %>
            <%= link_to t("users.show.my settings"), edit_account_path, :class => "dropdown-item" %>
            <%= link_to t("users.show.my_preferences"), preferences_path, :class => "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= yield :greeting %>
            <%= link_to t("layouts.logout"), logout_path(:referer => request.fullpath), :method => "post", :class => "geolink dropdown-item" %>
          </div>
        <% else %>
          <%= link_to t("layouts.log_in"), login_path(:referer => request.fullpath), :class => "geolink btn btn-outline-secondary" %>
          <%= link_to t("layouts.sign_up"), user_new_path, :class => "btn btn-outline-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</header>
